@import "../../../assets/styles/styleOne/index.css";
@import "../../../assets/styles/styleOne/zy.css";
.redBtn{
  display: block;
  background: #e54642;
  border-radius: 0.05rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.26rem;
  color: #fff;
  border: solid #e54642 1px;
}
